
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
    
    font-family: sans-serif; 
    letter-spacing: 0.03em;
}


.header{background-color: white;left:0;right:0;top:0;}

.header > .content{ 
    height: 4.375rem;
    margin: 0 auto;
    padding:0 15px;
    width:60%;  
    color: #838994; 
    font-size: 16px;
    }

.logo{
    float:left;
    margin-top:0.9rem;
 }

.nav {
    float:right;
    margin-top:0.6rem;
    -webkit-font-smoothing: antialiased;
  }

.nav li{
    display:inline-block;
    margin-left:1rem; 
  }


.nav li:hover{color: #333333;
cursor: pointer;}

.active{ 
    color: #4c5058;
    font-weight: 600;
}

.cover{
    background-image: url('images/first-background.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45.938rem;
    background-position: center;
}

.cover > .content{
    text-align: center;
     margin: 0 auto;
    padding:0 15px;
    width:60%;  
    color: white;
    font-weight: 300;
border:solid white 1px;}

.cover > .content > h1{font-size: 3.125rem;}

.cover > .content > h3{font-size: 1.563rem;
    margin-top: 1.25rem;}

.big-button {
    width: 9.688rem;
    text-shadow: none;
    border-style: none;
    border-radius: 4px;
    padding: 1rem 1.5rem;
    line-height: 1.33;
    background-color: #f15a29;
    font-size: 1.125rem;
    color:white;
    margin-top: 1rem;
}

.big-button:hover {
    background-color: #d9400e;
    border-color: #cf3d0e;
    cursor: pointer;
}